AuthUserFile /home/faculty/vstein/www/party/.htpasswd
AuthGroupFile /home/faculty/vstein/www/party/.htgroup
      AuthName "vstein"
      AuthType Basic

      <Limit GET POST>
      require group allowed
      </Limit>
