AuthUserFile /home/faculty/vstein/www/book/.htpasswd
AuthGroupFile /home/faculty/vstein/www/book/.htgroup
      AuthName "vstein"
      AuthType Basic

      <Limit GET POST>
      require group allowed
      </Limit>
